name: PRs reviews reminder
    
on: pull_request  # temporarily for testing
  
  # schedule:
  #  # Every weekday every 2 hours during working hours (utc), send notification 
  #  - cron: "0 13-22/2 * * 1-5"

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
    - uses: DavideViolante/pr-reviews-reminder-action@v2.7.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: ${{ secrets.TEAMS_WEBHOOK }}
        provider: 'msteams'
        github-provider-map: >
          apetsche1:apetsche@illinois.edu,
          asvalent:asvalent@illinois.edu,
          baristaTam:buch1@illinois.edu,
          cstephns:cstephns@illinois.edu,
          ddriddle:ddriddle@illinois.edu,
          domeyerj:domeyerj@illinois.edu,
          EdTheDev:delaport@illinois.edu,
          gshere:shere@illinois.edu,
          ktlack:klacker6@illinois.edu,
          livn46:rheren@illinois.edu,
          mabaumgartner:mab@illinois.edu,
          spaldr:spaldr@illinois.edu,
          tjuddill:tjudd@illinois.edu,
          wennebo1:wennebo1@illinois.edu,
          zdc217:zdc@illinois.edu
