name: PRs reviews reminder

on: pull_request  # temporarily for testing

# on:
#  schedule:
#    # Every weekday at 8:30a CST / 14:30 UTC and 1:30p CST / 19:30 UTC
#    - cron: '30 14,19 * * 1-5'

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
    - name: Test
      run: |
        for tag in ${{ join(fromJSON(vars.MAP_USERNAMES_TEAMS_JSON), ' ') }}
        do
          echo "Pushing image $tag"
        done
      shell: bash
        
    - uses: DavideViolante/pr-reviews-reminder-action@v2.7.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: ${{ secrets.TEAMS_WEBHOOK }}
        provider: 'msteams'
        github-provider-map: ${{ fromJSON(vars.MAP_USERNAMES_TEAMS_JSON) }}
      
