name: PR review reminders
on: [push, pull_request]
  # schedule:
    # Every weekday at 8:30a CST / 14:30 UTC and 1:30p CST / 19:30 UTC
    # - cron: '30 14,19 * * 1-5'
    #

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/DavideViolante/pr-reviews-reminder-action/releases
    - uses: DavideViolante/pr-reviews-reminder-action@v2.3.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: ${{ secrets.TEAMS_WEBHOOK }}
        provider: 'msteams'
        ignore-label: no-reminder
        # TODO: If you didn't get notified about a PR, FIXME
        github-provider-map: zdc217:zdc@illinois.edu
